*.xcuserstate
Plugins.xcscheme
config/*
CMakeFiles
config.h*
config.log
config.status
stamp-h1
Makefile
Makefile.in
configure
wallyd
dwallyd
*.o
*.so
*.lo
*.la
.libs
.deps
m4/*
autom4te.cache
cmake_install.cmake
CMakeCache.txt
*.dylib
install_manifest.txt
autoversion.h
